*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* Icons */
@font-face {
	font-family: 'icons';
		src: url('../fonts/icons.eot');
		src: url('../fonts/icons.eot#iefix') format('embedded-opentype'),
		url('../fonts/icons.woff') format('woff'),
		url('../fonts/icons.ttf') format('truetype'),
		url('../fonts/icons.svg#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
}

.icon-facebook:before { content: '\e802'; }
.icon-facebook-squared:before { content: '\e800'; }
.icon-twitter:before { content: '\e801'; }
.icon-twitter-1:before { content: '\e804'; }
.icon-facebook-circled:before { content: '\e805'; }
.icon-twitter-circled:before { content: '\e806'; }
.icon-facebook-rect:before { content: '\e803'; }

/* Styles */
html {
	font-size: 1em;
}

body {
	display: grid;
	grid-template-columns: 1fr;
	grid-template:
		"nav"
		"main"
		"footer";
	grid-gap: 14px;

	margin: 0;
	padding: 0 14px;

	font:16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.45;
}

h1, h2, h3, h4 {
	margin-top: 0;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 2.074em;
}

h2 {font-size: 1.728em;}

h3 {font-size: 1.44em;}

h4 {font-size: 1.2em;}

small, .font_small {font-size: 0.833em;}

#wrapper {
	/* Need this because CSS Grid wants the grid to be no smaller than the content */
	/* but we want to overflow the code samples on smaller screens */
	min-width: 0;
	grid-area: main;
}

#footer {
	grid-area: footer;
}

#footer p {
	text-align: center;
}

.main-nav {
	grid-area: nav;
}

.main-nav ul {
	display: flex;
	justify-content: flex-end;
	list-style: none;
}

.main-nav li {
	margin-left: 7px;
}

.main-nav a {
	color: #0E5B9B;
}

.main-nav .cta {
	border-radius: 3px;
	background: #5badf0;
	color: black;
	padding: 8px 12px;
}

.cta:hover {
	background: #65bcff;
}


.highlight, .chroma, pre, code {
	overflow: auto;
}


.post {
	display: grid;
	grid-gap: 14px;
	grid-template: 
		"post-heading"
		"post-content"
		"post-meta"
		"ad1"
		"post-comments"
		"ad2"
		"post-related";
}

#ad1, #ad2 {
	min-width: 0;
}

#ad1 {
	grid-area: ad1;
}

#ad2 {
	grid-area: ad2;
}

#post-body {
	/* Need this because CSS Grid wants the grid to be no smaller than the content */
	/* but we want to overflow the code samples on smaller screens */
	min-width: 0;
	grid-area: post-content;
}

#post-body a {
	word-break: break-all;
}

.post header {
	text-align: center;
	margin-bottom: 56px;
	grid-area: post-heading;
}
.post header h1 {
	font-weight: 300;
	margin: 0;
}

.headline {
	font-size: 0.833em;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 100;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.post header h2 {
	font-size: 1.125em;
	line-height: 1.25em;
	font-family: Georgia, serif;
	font-style: italic;
	margin: 0;
}

.figure--right {
	float: none;
	margin: 0 auto;
	text-align: center;
}

#post-list {
	display: flex;
	flex-direction: column;
}

#post-list {
	list-style: none;
	padding: 0;
}

#post-list li {
	border-top: 1px solid #eee;
	padding: 24px 0;
	list-style-type: none;
	margin-bottom: 0;
}

#post-list a {
	justify-content: space-between;
	display: flex;
	flex-direction: row;
	color: black;
}

#post-meta {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
}

#post-meta a {
	display: flex;
	flex-direction: row;
	align-items: center;
	text-decoration: none;
	line-height: 1em;
}

#post-meta p {
	margin: 0;
}

#post-meta small {
	color: #aaaaaa;
}

.dark {
	color: black;
	font-weight: 500;
}

#social {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.symbol {
    color: #cdd4da;
    font-size: 2rem;
    text-decoration: none;
    margin-right: 0.3rem;
}

.symbol:hover {
    color: #BCD4DA;
}

/* Avatar */
.avatar {
	border-radius: 50%;
	box-shadow: 0 0 0 3px #fff, 0 0 0 4px #eee;
	margin: 4px 14px 4px 4px;
}

.avatar--large {
	width: 120px;
	height: 120px;
}

.avatar--small {
  height: 36px;
  width: 36px;
}

#sharing a {
	font-weight: bold;
	color: #fff;
	padding: 7px;
	border-radius: 4px;
}

#sharing a.twitter {
  background: #4fafed;
}

.profile {
	text-align: center;
	margin-bottom: 28px;
}

.profile a {
	text-decoration: none;
	color: black;
}

.profile h1,
.profile h2 {
	margin: 0;
}

.profile h2 {
	font-weight: 100;
	letter-spacing: 1.5px;
}

#post-list p {
	font-size: .95rem;
}

#post-list h2,
#post-list p {
	margin: 0;
}

#post-list li a {
	display: flex;
	flex-direction: row;
}

#post-list li a aside {
	flex-basis: 20%;
	text-align: right;
}

#post-nav {
	display: flex;
	justify-content: space-between;
}

@media screen and (min-width: 540px) {
	#wrapper {
		max-width: 800px;
		justify-self: center;
	}

	.figure--right {
		float: right;
		margin-left: 10px;
	}
}

/* Code */
p > code {
	padding: 0.2em;
	margin: 0;
	color: black;
	background-color: rgba(27,31,35,0.05);
	border-radius: 3px;
}

code {
	font-family:Menlo, Monaco, Courier, monospace;
}

/* Background */ .chroma { color: #f8f8f2; background-color: #272822 }
/* Error */ .chroma .ss4 { color: #960050; background-color: #1e0010 }
/* LineHighlight */ .chroma .hl { background-color: #ffffcc; display: block; width: 100% }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em; }
/* Keyword */ .chroma .s3e8 { color: #66d9ef; font-weight: bolder }
/* KeywordNamespace */ .chroma .s3eb { color: #f92672 }
/* Name */ .chroma .s7d0 {  }
/* NameAttribute */ .chroma .s7d1 { color: #a6e22e }
/* NameClass */ .chroma .s7d4 { color: #a6e22e }
/* NameConstant */ .chroma .s7d5 { color: #66d9ef }
/* NameDecorator */ .chroma .s7d6 { color: #a6e22e }
/* NameException */ .chroma .s7d8 { color: #a6e22e }
/* NameFunction */ .chroma .s7d9 { color: #a6e22e }
/* NameOther */ .chroma .s7df { color: #a6e22e }
/* NameTag */ .chroma .s7e2 { color: #f92672 }
/* Literal */ .chroma .sbb8 { color: #ae81ff }
/* LiteralDate */ .chroma .sbb9 { color: #e6db74 }
/* LiteralString */ .chroma .sc1c { color: #e6db74 }
/* LiteralStringEscape */ .chroma .sc25 { color: #ae81ff }
/* LiteralNumber */ .chroma .sc80 { color: #ae81ff }
/* Operator */ .chroma .sfa0 { color: #f92672 }
/* Punctuation */ .chroma .s1388 {  }
/* Comment */ .chroma .s1770 { color: #75715e }
/* GenericDeleted */ .chroma .s1b59 { color: #f92672 }
/* GenericEmph */ .chroma .s1b5a { font-style: italic }
/* GenericInserted */ .chroma .s1b5d { color: #a6e22e }
/* GenericStrong */ .chroma .s1b60 { font-weight: bolder }
/* GenericSubheading */ .chroma .s1b61 { color: #75715e }
/* Text */ .chroma .s1f40 {  }
/* Background */ .chroma { color: #f8f8f2; background-color: #272822 }
/* Error */ .chroma .err { color: #960050; background-color: #1e0010 }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: 100%; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl { background-color: #ffffcc; display: block; width: 100% }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em; display: block; }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em; }
/* Keyword */ .chroma .k { color: #66d9ef }
/* KeywordConstant */ .chroma .kc { color: #66d9ef }
/* KeywordDeclaration */ .chroma .kd { color: #66d9ef }
/* KeywordNamespace */ .chroma .kn { color: #f92672 }
/* KeywordPseudo */ .chroma .kp { color: #66d9ef }
/* KeywordReserved */ .chroma .kr { color: #66d9ef }
/* KeywordType */ .chroma .kt { color: #66d9ef }
/* NameAttribute */ .chroma .na { color: #a6e22e }
/* NameClass */ .chroma .nc { color: #a6e22e }
/* NameConstant */ .chroma .no { color: #66d9ef }
/* NameDecorator */ .chroma .nd { color: #a6e22e }
/* NameException */ .chroma .ne { color: #a6e22e }
/* NameFunction */ .chroma .nf { color: #a6e22e }
/* NameOther */ .chroma .nx { color: #a6e22e }
/* NameTag */ .chroma .nt { color: #f92672 }
/* Literal */ .chroma .l { color: #ae81ff }
/* LiteralDate */ .chroma .ld { color: #e6db74 }
/* LiteralString */ .chroma .s { color: #e6db74 }
/* LiteralStringAffix */ .chroma .sa { color: #e6db74 }
/* LiteralStringBacktick */ .chroma .sb { color: #e6db74 }
/* LiteralStringChar */ .chroma .sc { color: #e6db74 }
/* LiteralStringDelimiter */ .chroma .dl { color: #e6db74 }
/* LiteralStringDoc */ .chroma .sd { color: #e6db74 }
/* LiteralStringDouble */ .chroma .s2 { color: #e6db74 }
/* LiteralStringEscape */ .chroma .se { color: #ae81ff }
/* LiteralStringHeredoc */ .chroma .sh { color: #e6db74 }
/* LiteralStringInterpol */ .chroma .si { color: #e6db74 }
/* LiteralStringOther */ .chroma .sx { color: #e6db74 }
/* LiteralStringRegex */ .chroma .sr { color: #e6db74 }
/* LiteralStringSingle */ .chroma .s1 { color: #e6db74 }
/* LiteralStringSymbol */ .chroma .ss { color: #e6db74 }
/* LiteralNumber */ .chroma .m { color: #ae81ff }
/* LiteralNumberBin */ .chroma .mb { color: #ae81ff }
/* LiteralNumberFloat */ .chroma .mf { color: #ae81ff }
/* LiteralNumberHex */ .chroma .mh { color: #ae81ff }
/* LiteralNumberInteger */ .chroma .mi { color: #ae81ff }
/* LiteralNumberIntegerLong */ .chroma .il { color: #ae81ff }
/* LiteralNumberOct */ .chroma .mo { color: #ae81ff }
/* Operator */ .chroma .o { color: #f92672 }
/* OperatorWord */ .chroma .ow { color: #f92672 }
/* Comment */ .chroma .c { color: #75715e }
/* CommentHashbang */ .chroma .ch { color: #75715e }
/* CommentMultiline */ .chroma .cm { color: #75715e }
/* CommentSingle */ .chroma .c1 { color: #75715e }
/* CommentSpecial */ .chroma .cs { color: #75715e }
/* CommentPreproc */ .chroma .cp { color: #75715e }
/* CommentPreprocFile */ .chroma .cpf { color: #75715e }
/* GenericDeleted */ .chroma .gd { color: #f92672 }
/* GenericEmph */ .chroma .ge { font-style: italic }
/* GenericInserted */ .chroma .gi { color: #a6e22e }
/* GenericStrong */ .chroma .gs { font-weight: bold }
/* GenericSubheading */ .chroma .gu { color: #75715e }
